<h1>Welcome to Coin Counter!</h1>
<form action="/coincounter">
  <div class="form-group">
    <label for="string">What is the total change?</label>
    <input id="string" name="coins" class="form-control" type="string"> #"ehhh"
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
